/** Fonts */

@import "__fonts";
@import "__base";
@import "__vars";
@import "../../node_modules/sweetalert/dist/sweetalert";

/** Global styles */

body {
    background-image: url("../assets/dark_wood.png")
}


/** Header */

.header {
    background-image: url("../assets/forest.png");
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .25);
    &__title {
        margin: 0;
        text-align: center;
        font-family: gothic;
        font-size: 5rem;
        color: #CC0000;
        text-shadow: -1px -1px 0 #FFF, 0 3px 0 #000;
        padding: 1rem;
    }
}


/** Game Board */

#gameWrapper {
    position: relative
}

#gameDiv {
    display: block;
    margin: 3rem auto;
    @for $i from 1 through 42 {
        &.width#{$i} {
            width: 60px * $i;
            height: 60px * $i;
        }
    }
    .row {
        width: 100%;
    }
    .floorCase {
        float: left;
        display: block;
        background-color: #76A31D;
        width: $largeurCase+px;
        height: $largeurCase+px;
        &.warFog {
            background-color: black!important;
            &:before {
                display: none;
            }
        }
        &.monsterClue {
            background-color: mediumpurple;

            &.trapClue {
                &:before {
                    content: '';
                    width: 0px;
                    height: 0px;
                    border-top: 30px solid orange;
                        border-left: 30px solid orange;
                        border-bottom: 30px solid transparent;
                        border-right: 30px solid transparent;
                    position: absolute;
                }
            }
        }
        &.trapClue {
            background-color: orange;

            &.monsterClue {
                    &:before {
                        content: '';
                        width: 0px;
                        height: 0px;
                        border-top: 30px solid mediumpurple;
                        border-left: 30px solid mediumpurple;
                        border-bottom: 30px solid transparent;
                        border-right: 30px solid transparent;
                        position: absolute;
                    }
                }
        }
        &.trap {
            background-color: red;
        }
        &.monster {
            background-color: purple;
        }
        &.goal {
            background-color: darkturquoise;

        }
        &.wanderer {
            &:after {
                content:'';
                background: url('../../assets/hero.png');
                height: 60px;
                width: 60px;
                position: absolute;
            }
        }
        &.trap {
            background-color: red;
        }
        &.goal {
            background-color: darkturquoise;
        }
        &.monster {
            background-color: purple;
        }
    }
}

#logDiv {
    text-align: center;
    font-size: 3rem;
    color: white;
}

.score {
    font-family: gothic;
}